<h1 align="center" style="margin-bottom:2rem;">Ruby Bloggers</h1>
<div class="center">
  <%= will_paginate @clients, list_classes: %w(pagination justify-content-center)%>
  <% @users.each do |user| %>
    <ul class="listing card center offset-3 border-info" style="max-width: 35rem;">
      <div class="card-img-top mt-4">
        <li> <%= link_to gravatar_for(user), user_path(user) %> </li>
      </div>  
      <div class="card-body">
        <li class="article-title">
          <%= link_to user.username, user_path(user) %>
        </li>
        <li class="card-text"><small> <%= pluralize(user.articles.count, "article") if user.articles %> </small></li>
      </div>
    </ul>
  <% end %>
  <%= will_paginate @clients, list_classes: %w(pagination justify-content-center)%>
</div>