<h1 class="center mt-5 mb-4">Welcome to <%= @user.username %>'s page </h1>
<div class="row">
  <div class="col-md-4 offset-4 center">
    <%= gravatar_for @user, size:150 %>
  </div>
</div>

<h4 class="center"> <%= @user.username %>'s articles </h4>
<div class="center">
  <%= will_paginate @clients, list_classes: %w(pagination justify-content-center)%>
</div>
<%= render "articles/article", obj: @users %>
<div class="center">
  <%= will_paginate @clients, list_classes: %w(pagination justify-content-center)%>
</div>